* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to top left, #e66464f3, #8a90d8f3);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2), 0 5px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 500px;
  position: relative;
}

.login-box {
  width: 400px;
  height: 500px;
  padding: 20px;
}

.signup-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  height: 500px;
}

.form-content {
  background: #fff;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: bold;
}

p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #e66464f3;
  font-size: 14px;
  text-decoration: none;
  margin: 20px 0px;
}
